.modinvesttypepage {
  width: 100%;
  max-width: 412px;
  margin: 0 auto;
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.modinvesttypepage {
  width: 100%;
  max-width: 412px;
  margin: 0 auto;
}

.modinvesttypepage__header {
  display: flex;
  align-items: center;
  gap: 8px;
  min-height: 56px;
  margin-top: 10px;
}

.modinvesttypepage__header h2,
.modinvesttypepage__header .section__title {
  font-size: 27px;
  line-height: 33px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  font-family: "Pretendard", sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: 40px 32px;
  font-family: "Pretendard", sans-serif;
}

.fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.list {
  list-style: none;
  display: grid;
  gap: 35px;
  margin: 0;
  padding: 0;
}

.option {
  display: flex;
  align-items: center;
  gap: 16px;
}

.radio {
  display: none;
}

.customRadio {
  width: 21px;
  height: 21px;
  border: 2px solid #9dd1cd;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  transition: all 0.2s ease;
}

.radio:checked + .customRadio::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #54c5b9;
  transform: translate(-46%, -50%);
}

.labelText {
  font-family: "Pretendard", sans-serif;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  color: #000000;
  display: flex;
  align-items: center;
}

.saveButton {
  width: 316px;
  height: 50px;
  margin: 100px auto 40px;
  background: #54c5b9;
  border-radius: 15px;
  border: none;
  font-family: "Pretendard", sans-serif;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.25s ease;
}

.saveButton:hover {
  background: #4ab3a8;
}

@media (min-width: 600px) {
  .modinvesttypepage {
    margin-left: auto;
    margin-right: auto;
  }
}