.pageContainer {
  max-width: 412px;
  margin: 0 auto;
  min-height: 100vh;
  background: #FFFFFF;
  padding-top: 10px; 
  display: flex;
  flex-direction: column;
  font-family: "Pretendard", sans-serif;
}

.header {
  padding: 10px 16px; 
}

.form {
  flex-grow: 1; 
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  font-family: "Pretendard", sans-serif;
}

.fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-top: 50px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  margin-bottom: 30px; 
}

.option {
  display: flex;
  align-items: center; 
  cursor: pointer;
  position: relative;
  padding-left: 40px;
}

.radio {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.customRadio {
  position: absolute;
  left: 0;
  width: 21px;
  height: 21px;
  border: 2px solid #9DD1CD;
  border-radius: 50%;
  display: inline-block;
  transition: all 0.2s ease;
}

.radio:checked + .customRadio::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 11px;
  height: 11px;
  background-color: #54C5B9;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.textGroup {
  margin-left: 16px;
}

.labelText {
  display: inline-block;
  font-family: "Pretendard", sans-serif;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  color: #000000;
  margin-right: 15px;
  min-width: 60px;
}

.descriptionText {
  display: inline-block;
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  color: #000000;
}

.saveButton {
  width: 100%; 
  height: 50px;
  background: #54C5B9;
  border-radius: 15px;
  border: none;
  cursor: pointer; 
  font-family: "Pretendard", sans-serif;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  color: #FAFAFA;
  margin-top: 50px;
}