.pageTitle {
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 40px;
}

.inputTitle {
    font-size: 23px;
    font-weight: bold;
}

.inputBox {
    width: 316px;
    height: 50px;
    padding: 20px;
    margin: 8px 0;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    color: #A4A4A4;
    background-color: #EFEFEF;
}

.inputBox::placeholder {
    color: #A4A4A4;
}

.idForm .inputBox {
    width: 213px;
    margin-right: 10px;
}

.btn {
    width: 316px;
    height: 50px;
    margin-top: 10px;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 23px;
    font-weight: bold;
    cursor: pointer;
    background-color: #54C5B9;
}

.btn:active {
    background-color: #4aa59c;
}

.btn:disabled {
    cursor: auto;
}

.btn:disabled:active {
    background-color: #54C5B9;
}

.idForm .btn {
    width: 94px;
    font-size: 18px;
}

.idForm {
    display: flex;
    justify-content: flex-end;
}

.pwForm {
    display: flex;
    flex-direction: column;
    position: relative;
}

.noMatchMessage {
    position: absolute;
    top: 100%;
    color: #df0000;
    font-size: 15px;
}

.birthForm .inputBox {
    width: 95px;
    padding: 15px;
}

.birthForm {
    width: 316px;
    display: flex;
    justify-content: space-between;
}

.itemContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.nextBtn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 60px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 480px;
    max-width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    background-color: #fff;
    overflow-wrap: break-word;
    box-sizing: border-box;

    position: relative;
    padding-bottom: 150px;
}

.option input[type="radio"] {
    accent-color: #9DD1CD;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.option {
    display: flex;
    align-items: center;
    gap: 8px;  
}

.option span {
    font-size: 21px;
}

.optionForm {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.question {
    font-size: 23px;
    font-weight: bold;
    white-space: pre-line;
}

.question span {
    color: #54C5B9;
}

.questionBox {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
}

.levelText {
    font-weight: bold;
}

.completeTitle {
    font-size: 27px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 15px;
}

.completeTitle span {
    color: #54C5B9;
}

.completeText {
    font-size: 22px;
}

.completeBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.textBox {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 120px;
}