.pageContainer {
  max-width: 412px;
  margin: 0 auto;
  min-height: 100vh;
  height: 100vh;
  background: #FFFFFF;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 10px 16px; 
  height: 64px;
  flex-shrink: 0;
}

.contentArea {
  flex-grow: 1;
  padding: 0 41px;
  overflow-y: auto;
}

.termSection {
  margin-top: 37px;
  margin-bottom: 70px;
}
.termSection:first-child {
  margin-top: 50px;
}

.termTitle {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.35;
  color: #878787;
  margin-bottom: 25px;
  width: 100%;
}

.termContent {
}

.termLine {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #C8C8C8; 
  margin-bottom: 13px;
}