/* Pretendard CDN import */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

/* 기본 Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Pretendard", sans-serif 
}

body {
  background-color: #f0f2f5;
}

/* 메인 container */
.container {
  width: 480px;
  max-width: 100%;
  margin: 0 auto;
  padding: 16px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  overflow-wrap: break-word;
}